/*body background style*/


body{
    background-image: url(./img/jason-leung-hsS6jTr-pns-unsplash.jpg);
    background-repeat: no-repeat;
}


/*space game styling*/
.space-game{
    width: 900px;
    height: 600px;
    border: 1px dashed rgb(8, 8, 8);
    background-color: rgb(241, 244, 245);
    align-items: center;
    margin: auto;
    
}

/*red ball styling*/
#red-ball{
    width: 50px;
    height: 50px;
    border: 2px solid black;
    background-color: red;
    border-radius: 35px;
    margin: auto;
    margin-top: 150px;
    position: absolute;
}

#main-head{
    color: rgb(15, 13, 13);
    font-size: 2em;
    width: 900px;
    height: 150px;
    margin: auto;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;


}
#player{
    width: 250px;
    height: 150px;
    background-color: rgb(175, 129, 121);
}

#player img{
    margin-left: 10px;
    margin-top: 10px;
}

#score{
    width: 250px;
    height: 75px;
    background-color: rgb(175, 129, 121);
    text-align: center;
   
}

#time{
    width: 250px;
    height: 75px;
    background-color: rgb(175, 129, 121);
    justify-content: center;
    align-items: center;

}


.black-ball:nth-child(2)
{

    width: 70px;
    height: 70px;
    border: 2px solid rgb(238, 13, 13);
    background-color: rgb(14, 13, 13);
    border-radius: 50%;
    margin-top: 100px;
    animation: PopUp 12s ease-in infinite;
   
}
.black-ball:nth-child(3)
{
    width: 70px;
    height: 70px;
    border: 2px solid rgb(238, 13, 13);
    background-color: rgb(14, 13, 13);
    border-radius: 50%;
    margin-top: 100px;

    animation: PopUp 18s ease-in infinite;
}

.black-ball:nth-child(4){
    width: 70px;
    height: 70px;
    border: 2px solid rgb(238, 13, 13);
    background-color: rgb(14, 13, 13);
    border-radius: 50%;
    margin-top: 65px;
    animation: PopUp 22s ease-in infinite;
}

.black-ball:nth-child(5)

{
    width: 39px;
    height: 39px;
    border: 2px solid rgb(238, 13, 13);
    background-color: rgb(232, 235, 44);
    border-radius: 50%;
    margin: auto;
    display: inline-block;
    align-items: center;
    justify-content:center;
    animation: bouncy 15s ease-in infinite;
    margin-left: 100px;
}

.black-ball:nth-child(6){
    width: 50px;
    height: 50px;
    border: 2px solid rgb(238, 13, 13);
    background-color: rgb(232, 235, 44);
    border-radius: 50%;
    margin: auto;
    display: inline-block;
    align-items: center;
    justify-content:center;
    animation: bouncy 20s ease-in infinite;
    margin-left: 100px;
}

.black-ball:nth-child(7){
    width: 85px;
    height: 85px;
    border: 2px solid rgb(238, 13, 13);
    background-color: rgb(232, 235, 44);
    border-radius: 50%;
    margin: auto;
    display: inline-block;
    align-items: center;
    justify-content:center;
    animation: bouncy 25s ease-in infinite;
    margin-left: 200px;
}

.black-ball:nth-child(8){
    width: 25px;
    height: 25px;
    border: 2px solid rgb(238, 13, 13);
    background-color: rgb(232, 235, 44);
    border-radius: 50%;
    margin: auto;
    display: inline-block;
    align-items: center;
    justify-content:center;
    animation: bouncy 35s ease-in infinite;
    margin-left: 200px;
}


@keyframes bouncy {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-490px);

    }
    100%{
        transform: translateY(0px);

    }
}

@keyframes PopUp {
    0%{
        transform: translateX(0px);
    }
    50%{
        transform: translateX(+820px);

    }
    100%{
        transform: translateX(0px);

    }
}

.modal{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);

    display: flex;
    animation: modal 1s forwards;
    visibility: hidden;
    opacity: 0;



}

#cerrar{
    display: none;
}

#cerrar + label{
    position: fixed;
    color: rgb(17, 15, 15);
    font-size: 25px;
    z-index: 50;
    background: rgb(174, 21, 21);
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 50%;
    right: 10px;
    cursor: pointer;

    animation: modal 2s forwards;
    visibility: hidden;
    opacity: 0;

}

#cerrar:checked + label, #cerrar:checked ~ .modal {
    display: none;
}

.contenido{
    width: 75%;
    height: 75%;
    margin: auto;
}



@keyframes modal {
    100%{
        visibility: visible;
        opacity: 1;
    }
}

